*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    background-color: #f3eee9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
body{
    height: 90vh;
}

/* ! NAV BAR BAŞLANGIÇ */

header {
    width: 100%;
    height: 5rem;
    background-color:#FCEDDA;
    padding: 4px 12px;
    border-bottom: 2px solid #f4e0c7; 
    position: sticky;    
    top: 0;
    z-index: 4;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* SOLDAKİ LOGO */
.logo{
    
    /* width: 10%; */
    padding: 5px;
    display: flex;

}
.logo-border{
    border-top: 4rem solid #ee4d34e8;
    border-right: 4rem solid transparent;
    position: relative;
    
    
}

.logo-metin {
    font-family: 'Anek Kannada', sans-serif !important;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    font-size: x-large;
}

.logo-metin > a {
    text-decoration: none;
    color: black; 
}

/* SOLDAKİ LOGO BİTİŞ */


/* ORTA MENÜ  BAŞLANGIÇ*/
.nav-link{
    width: 28%;
    
    
}
.nav-link > ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}



.link-list > li > a{
    text-decoration: none;
    color:#EE4E34;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 700;
    border-left: 2px solid #FF8A5F;
    transition: background-color 100ms ;
    padding: 1px;
    
}


.link-list > li > a:hover{
    
    background-color: #FF8A5F;
    color: #FCEDDA;
    
}

/* ORTA MENÜ BİTİŞ */

/* NAV BUTTON BAŞLANGIÇ */

.buttons{
   
    display: flex;
}

.sign-in{
    padding: 12px;
    font-size: medium;
    background-color: rgb(88, 88, 227);
    color: rgb(234, 233, 233);
    border: 1px solid rgb(59, 59, 201);
    border-radius: 10px;
    transition: background-color 200ms;
}

.sign-up{
    padding: 12px;
    font-size: medium;
    background-color: rgba(88, 88, 227, 0);
    color: rgb(88, 88, 227);
    border: 1px solid rgb(59, 59, 201);
    border-radius: 10px;
    transition: background-color 200ms;
    
}

.sign-up:hover{
    cursor: pointer;
    background-color: rgb(88, 88, 227);
    color: white;
}
.sign-in:hover{
    cursor: pointer;
    background-color: rgb(78, 78, 183);
    color: white;
}

.cizgi-v{
    width: 0.5px;
    margin: 0 5px;
    background-color: #141486;
}
/* NAV BUTTON BİTİŞ */

/* ! NAV BAR BİTİŞ */


.kutu{
    width: 150px;
    height: 150px;
    background-color: #141486;
}